.container img{
border:2px solid black;
width:270px;
height:270px;
margin:0px;
}
.container h1  {
font-family:poppins;
}
body{
border: solid black;
border-width:10px;
padding:15px;
margin:0px;
background-color:lightblue;
}
.about{
font-size:20px;
margin:5px 4px;
}
.bio ul li {
font-size:18px;
margin:4px;
}
.btn{
text-decoration:none;
border:2px solid red;
background-color:white;
border-radius:10px;
}
.link{
text-align:right;
font-size:20;
}